{% extends 'base.html' %}
{% block content %}
<h2>{{ prod.productname }} </h2>
<p>Product Type: {{ prod.producttype }}</p>
<p>Product Type: {{ prod.user }}</p>
<p>Product Price: {{ prod.productprice }}</p>
<p>Product URL: {{ prod.producturl }}</p>
<p>Product Description: {{ prod.productdescription }}</p>
<p>Number of Reviews: {{ reviewcount }}</p>
<h3>Reviews</h3>
{% for r in reviews %}
    <h4>{{ r.reviewtitle }}</h4>
    <p>{{ r.reviewdate }}</p>
    <p>{{ r.product  }}</p>
    <p>{{ r.rating  }}</p>
    <p>{{ r.reviewtext  }}</p>
{% endfor %}    

{% endblock %}
